certifi==2021.5.30
cffi==1.14.6
charset-normalizer==2.0.6
click==8.0.1
cryptography==36.0.1
Flask==2.0.2
idna==3.2
importlib-metadata==4.10.0
itsdangerous==2.0.1
Jinja2==3.0.2
MarkupSafe==2.0.1
msgpack==1.0.3
pycparser==2.20
python-dateutil==2.8.2
PyYAML==6.0
requests==2.26.0
simplejson==3.17.6
six==1.16.0
symbiont-io.assembly-client==2.0.2rc0
typing_extensions==4.0.1
urllib3==1.26.7
Werkzeug==2.0.2
zipp==3.7.0
